{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Add a New Movie</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_title" class="form-label">Title</label>
        {{ form.title }}
    </div>
    <div class="mb-3">
        <label for="id_description" class="form-label">Description</label>
        {{ form.description }}
    </div>
    <div class="mb-3">
        <label for="id_director" class="form-label">Director</label>
        {{ form.director }}
    </div>
    <div class="mb-3">
        <label for="id_genre" class="form-label">Genre</label>
        {{ form.genre }}
    </div>
    <div class="mb-3">
        <label for="id_rating" class="form-label">Rating</label>
        {{ form.rating }}
    </div>
    <button type="submit" class="btn btn-primary">Save Movie</button>
</form>
{% endblock %}
